ol.product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding: 0;
}

ol.product-list li {
    margin: 1ch;
    display: block;
    list-style-type: none;
}

article.product {
    border: thin solid #bbbbbb;
    border-radius: 1ch;
    width: min-content;
    height: 100%;
}

a.product-link {
    display: flex;
    flex-direction: column-reverse;
    color: #000000;
    text-decoration: none;
}

a.product-link > hgroup {
    margin-inline: 1ch;
}

h2.product-name {
    margin-bottom: 0.33em;
    font-size: 1.17em;
}

p.product-price {
    margin-top: 0;
}

img.product-image {
    border-radius: 1ch 1ch 0 0;
}
