<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <search>
            <form method="get" action="/products/">
                <input name="search" type="search" placeholder="Search">
                <button>Search</button>
            </form>
            </search>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
