<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <search>
            <form action="{% url 'shop:product-list' %}" method="get">
                <input
                        name="search"
                        value="{{ request.GET.search }}"
                        type="search"
                        placeholder="Search">
                <button type="submit">Search</button>
            </form>
            </search>
            <p>
            <a href="{% url 'shop:cart' %}">Shopping cart</a>
            </p>
        </header>
        {% block content %}{% endblock %}
    </body>
</html>
