{% extends "shop/base.html" %}

{% load static %}

{% load url_for_page %}

{% block content %}
<section>
    <h2>Categories</h2>
    <ul>
        <li>
            <a
                    {% if category_slug is not None %}
                    href="/products/"
                    {% endif %}>All</a>
            <span>({{ page_obj.paginator.count }})</span>
        </li>
        {% for category in categories %}
        <li>
            <a
                    {% if category.slug != category_slug %}
                    href="{{ category.get_absolute_url }}"
                    {% endif %}>{{ category.name }}</a>
            <span>({{ category.product_set.count }})</span>
        </li>
        {% endfor %}
    </ul>
</section>
<h1>Search</h1>
<p>Showing items {{ page_obj.start_index }}–{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</p>
<ol>
    {% for product in product_list %}
    <li>
        <article>
            <a href="{{ product.get_absolute_url }}">
                <h2>{{ product.name }}</h2>
                <img
                        src="{% static 'shop/products/'|add:product.slug|add:'.jpg' %}"
                        width="300"
                        height="200">
            </a>
        </article>
    </li>
    {% endfor %}
</ol>
<p>
{% if page_obj.has_previous %}
<a href="{% url_for_page 1 %}">First</a>
<a href="{% url_for_page page_obj.previous_page_number %}">Previous</a>
{% endif %}
Page {{ page_obj.number }} of {{ paginator.num_pages }}
{% if page_obj.has_next %}
<a href="{% url_for_page page_obj.next_page_number %}">Next</a>
<a href="{% url_for_page paginator.num_pages %}">Last</a>
{% endif %}
</p>
{% endblock %}
