{% extends 'shop/base.html' %}

{% load static %}

{% block title %}{{ product.name }} | E-Commerce Example{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>
<img
        src="{% static product.get_image_path %}"
        width="600"
        height="400">
<p>Price: ${{ product.price }}</p>
{% if product.description %}
<h2>Description</h2>
<p>{{ product.description }}</p>
{% endif %}
<h2>Categories</h2>
<ul>
    {% for category in product.categories.all %}
    <li>
        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    </li>
    {% endfor %}
</ul>
<form action="{% url 'shop:add-to-cart' product.slug %}" method="post">
    {% csrf_token %}
    <p>
        <label for="quantity" id="quantity">Quantity:</label>
        <input id="quantity" name="quantity" value="1" min="1" type="number">
    </p>
    <button>Add to cart</button>
</form>
{% endblock %}
